.button{
	width:100%;
	height:2.5rem;
	border-radius:0.5rem;
	background-color:$green;
	
}

.submit{
	@extend .button;
	background-color:$red;
}

.go{
	@extend .button;
	background-color:$blue;
}

@media screen 
and (device-width:360px)
and (device-height:640px)
and (-webkit-device-pixel-ratio:3){
	.button{
		width:100%;
		height:6rem;
		border-radius:0.5rem;
		background-color:$green;
		font-size:2em;
	}

	.submit{
		width:100%;
		height:6rem;
		border-radius:0.5rem;
		background-color:$green;
		font-size:2em;
		background-color:$red;
	}

	.go{
		width:100%;
		height:6rem;
		border-radius:0.5rem;
		background-color:$green;
		font-size:2em;
		background-color:$blue;
	}	
}
