$navFont : Helvetica, sans-serif;
$headlineFont: Georgia, serif;
$textFont: Georgia, serif;
$red : #FF331F;
$black : #1C1D21;
$white : #FBFBFF;
$green : #40FD65;
$blue : #3626A7;

body{
	margin:0 0 0 0;
	background-color:$red;
	width:100vw;
	height:100vh;
	transition:all 1s ease;
	overflow:hidden;
}
.container{
	width:500px;
	margin:0 auto;
}

.profile{
	margin:5vh 0 0 0;
	width:auto;
	height:60vh;
	background-color:$white;
	border-radius:0.8rem;
}

.profile img{
	width:100%;
	height:auto;
}

.profile p{
	margin-left:1.2rem;
	font-size:1.2rem;
	font-family:$navFont;
}

@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3){
	.container{
		width:80%;
		margin:0 auto;
	}
}